ALIFE_EXP
EVO_FIT
EVO_IND
LOGS
multirun
outputs
saves*
cross_evals*
curses_tests_chatgpt/
*.pyc 
__pycache__/*
ind-character-def/
.DS_Store
*.egg-info
archive_pickles/*
QD_EXP/ELITE_FORT_SIM/*_arx_*
QD_EXP/ELITE_CHAR_DEF*
