ALIFE_EXP
EVO_FIT
EVO_IND
LOGS
multirun
outputs
saves*
cross_evals*
curses_tests_chatgpt/
*.pyc
__pycache__/*
ind-character-def/
.DS_Store
*.egg-info
archive_pickles/*
ELITE_FORT_SIM/*_arx_*
ELITE_CHAR_DEF*
copy2v2.sh
